<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>NSWorldSensingUsageDescription</key>
	<string>Allow tracking</string>
	<key>Privacy - Accessory Tracking Usage Description</key>
	<string>Allow tracking</string>
	<key>Privacy - World Sensing Usage Description</key>
	<string>Allow plane detection</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera usage to enable scanning of your room</string>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>PlaywritePL-VariableFont_wght.ttf</string>
		<string>RubikSprayPaint-Regular.ttf</string>
		<string>DynaPuff-VariableFont_wdth,wght.ttf</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string></string>
</dict>
</plist>
